/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body {font: 1em 'raleway', sans-serif;}
*{
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
}

/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */

/* We like off-black for text. */
body, select, input, textarea {color: #333;}

a {color: #03f;text-decoration: none;}
a:hover {color: #69f;}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }

/* Forest Green 
 * #003b23	
*/

/* Coral 
 * #ff504b	
*/

/* Beige Gray 
 * #e3e2da	
*/

/* Print styles
-------------------------------------------------------------------------------*/
@media print {



}


/* Media queries
-------------------------------------------------------------------------------*/


/* Typography
-------------------------------------------------------------------------------*/

h1{
	font-size: 10.625em;
}

h2{
	font-family: "bebas-neue";
	font-size: 4em;
	line-height: 1em;
	text-transform: uppercase;
	letter-spacing: .1em;
}

p{
	font-family: "raleway", sans-serif;
	font-size: .875em;
	font-weight: 700;
	line-height: 2em;
	letter-spacing: .15em;
	text-transform: uppercase;
	color: #003b23;
}

.copy-container > p,span.highlight{
	color: #ff504b;
}


/* Global Styles
-------------------------------------------------------------------------------*/

	/* Universal Truths!!! */
	.desktop{
		display: block;
		}
	.mobile{
		display: none;
	}
	br.clear{clear:both;}
	.left{float: left;}
	.right{float: right;}

	.coral-bg{background:#ff504b;color:#003b23;}
	.green-bg{background:#003b23;color:#ff504b;}



h1 a{
	height: 51px; width:51px;
	display: block;
	background: url(../img/fwopera_logo_42x42.svg) no-repeat;
	background-size: contain;
	text-indent: -9999px;
	margin: 0 auto;
}

div.coral_bar{
	height: 6px;
	width: 100%;
	background: #ff504b;
}

article.image, header,footer{
	height: 708px;
	background: #e3e2da;
	color: #003b23;
	position: relative;
}
article.break{
	height: 500px;
	padding: 16px;
	background: url(../img/break-lines-bg.svg) repeat center center, #003b23;
	background-attachment: fixed;
	color: #e3e2da;
	position: relative;
	z-index: 1;
}
	article#break1{background:url(../img/bottom_border.svg) no-repeat center -1px,
		url(../img/break-lines-bg.svg) repeat fixed center center, #003b23
		;}

div.center_line{
	width:16px;
	height: 114px; /* adjust in mobile and #frontiers*/
	margin: 0 auto;
	background: url(../img/center-line.svg) no-repeat center center;
}

div.container{
	width: 92%;
	max-width: 989px;
	height: 748px;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	z-index: 2;
	left: 0; right:0;
}
	article.image div.container{margin-top: -18px; z-index: 2;}

div.image-container{
	width: 92%;
	max-width: 989px;
	margin: 0 auto;
}
div.image-content{
	height: 648px;
	border-left: 1px solid #ff504b;
	border-right: 1px solid #ff504b;
}

.border{
	background-image: url(../img/top_border.svg) no-repeat center top,
	url(../img/bottom_border.svg) no-repeat center bottom;
	/*border: 1px solid #ff504b;*/
}

div.title{
	height: 150px;
	color: #003b23;
	display: inline-block;
	position: absolute;
	z-index: 3;
}
	div.title h2{
		height: 94px;
		padding: 20px;
		background: #ff504b;
	}
	div.title svg{
		float:right;
		fill: #003b23;
	}
	div.title a{
		height: 34px;
		width:128px;
		padding: 8px;
		float:right;
		text-align: center;
		display: block;
		background: #ff504b;
	}
		div.title a:hover{background: #003b23;}
	div.title a p{
		font-size: 1.25em;
		line-height: 1em;
		letter-spacing: .1em;}
		div.title a:hover p{color: #ff504b;}

.break-text{
	width: 92%;
	max-width:630px;
	margin: auto;
}
div.copy-container{
	padding: 30px 30px;
	text-align: center;
	border-left: 1px solid #ff504b;
	border-right: 1px solid #ff504b;
	background:  
	url(../img/topleft-bottomright-corner.svg) no-repeat left top,
	url(../img/topright-bottomleft-corner.svg) no-repeat right top,
	url(../img/topleft-bottomright-corner.svg) no-repeat right bottom,
	url(../img/topright-bottomleft-corner.svg) no-repeat left bottom;
}
div.top-border{
	height:47px;
	background:url(../img/top_border.svg) no-repeat center top;
	position: relative;
	z-index: 2;}
div.bottom-border{
	height:47px;
	background:url(../img/bottom_border.svg) no-repeat center bottom;
	position: relative;
	z-index: 2;
}



/* Mobile Global Warming */
@media screen and (max-width: 899px){
	/*div.break-text{width:85%;}*/
}
	

/* Nav
-------------------------------------------------------------------------------*/
nav {
  position: fixed;
  top: 50%;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  z-index: 99;
}

/* Menu */
nav ul li.menu{
	width: 120px;
	height: 30px;
	background: url(../img/menu-bg.svg) no-repeat;
	font-size: 1.25em;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
}
nav ul li.menu:hover{background: url(../img/menu-bg-hover.svg) no-repeat;}

	nav ul li.menu a.toggle{
		display: block;
		padding: 4px 17px;
		color: #003b23;
		font-weight: 700;
		letter-spacing: .1em;
		text-align: left;
		background: url(../img/menu-open.svg) no-repeat 90% center;
		transition: 0.5s;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-o-transition: 0.5s;
	}
	nav ul li.menu:hover a.toggle{color:#ff504b;background: url(../img/menu-open-hover.svg) no-repeat 90% center;}
	/* When Menu is expanded */
	nav ul li.menu a.toggle.active{background: url(../img/menu-close.svg) no-repeat 90% center;}
	nav ul li.menu:hover a.toggle.active{background: url(../img/menu-close-hover.svg) no-repeat 90% center;}


	/* When Menu is expanded */
	nav ul li ul.nav-collapse li a{
		width: 120px;
		height: 24px;
		padding: 5px;
		display: inline-block;
		background: #ff504b;
		color: #003b23;
		border-top: 1px solid #003b23;
		font-size: .75em;
		font-weight: 700;
		letter-spacing: .1em;
		transition: 0.5s;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-o-transition: 0.5s;
	}
		/* When hovering over listed Menu items */
		nav ul li ul.nav-collapse li a:hover, nav ul li ul.nav-collapse li a.active{background: #003b23;color: #ff504b;}


/* Mobile Navigation */
@media screen and (max-width: 899px){
	.desktop{display: none;}
	.mobile{display: block;}

	nav {
	    top: 0;
	    width: 100%;
	    position: fixed;
	  }
		nav ul li.menu{
			width: 100%;
			background: #ff504b;
			text-indent: -9999px;
			transition: 0.5s;
			-webkit-transition: 0.5s;
			-moz-transition: 0.5s;
			-o-transition: 0.5s;
		}
		nav ul li.menu:hover{background: #003b23;}

		/* FW Opera Logo */
		nav ul li.menu h1 a{height: 30px;width: 33px;
			background: url(../img/fwopera_logo_42x42.svg) no-repeat, #e3e2da;
			background-size: contain;
			float: left;
		}

		nav ul li.menu a.toggle{
			width:100%;
			background-position: 98% center;
		}
		nav ul li.menu:hover a.toggle{
			background-position: 98% center}

		/* When Menu is expanded */
		nav ul li.menu a.toggle.active{background-position: 98% center}
		nav ul li.menu:hover a.toggle.active{background-position: 98% center}


		nav ul li, nav ul li ul.nav-collapse li a{ width: 100%;}
		nav ul li a.opened { max-height: 9999px;}
}

/* Lightbox *reference: http://codepen.io/gschier/pen/HCoqh
-------------------------------------------------------------------------------*/

a.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

a.lightbox div {
	/** Pad the lightbox image */
	width: 92%;
	height: 92%;
	margin: 2% auto;
	background: #e3e2da;
	border: 6px solid #ff504b;
}

a.lightbox:target {

	/** Unhide lightbox **/
	display: block;
}

/* Header
-------------------------------------------------------------------------------*/

header{
	background: url(../img/green-dot-pattern_10x65.png) repeat-x center 300px, #e3e2da;
}

header p.line1{
	line-height: 1em;
	padding: 5px 10px;
	margin: 80px auto 50px ;
	font-size: 1.25em;
	font-weight: 400;
	display: inline-block;
}
header p.line2{
	width: 750px;
	font-size: 1.5em;
	font-weight: 400;
	letter-spacing: .25em;
	margin: 50px auto;
	background: 
		url(../img/header-line2-left.svg) no-repeat left center,
		url(../img/header-line2-right.svg) no-repeat right center;
}

header div.container div.scroll_down{display: inline-block;}
	header div.container div.scroll_down a p{margin-top: 20px;color: #ff504b;}
	header div.container div.scroll_down a:hover p{color: #003b23;}
	header div.container div.scroll_down a img{margin: 0 10px;}
	header div.container div.scroll_down a:hover img{margin: 35px 10px;}

header div.container div.center_line{
	height: 37px;
	background-position:center -708px;
}


h1.deep{
	font-family: "bebas-neue", sans-serif;
	margin-left: .1875em; /* Center text */
	letter-spacing: .125em;
	font-size: 230px;
	line-height: 1em;
	text-align: center;
	color: #003b23;
	text-shadow: 0px 0px 0 #ff504b, -1px 1px 0 #ff504b, -2px 2px 0 #ff504b, -3px 3px 0 #ff504b, -4px 4px 0 #ff504b, -5px 5px 0 #ff504b, -6px 6px 0 #ff504b, -7px 7px 0 #ff504b, -8px 8px 0 #ff504b, -9px 9px 0 #ff504b, -10px 10px 0 #ff504b, -11px 11px 0 #ff504b, -12px 12px 0 #ff504b, -13px 13px 0 #ff504b, -14px 14px 0 #ff504b, -15px 15px 0 #ff504b, -15px 15px 0 #c3c3b5, -14px 16px 0 #c3c3b5, -13px 17px 0 #c3c3b5, -12px 18px 0 #c3c3b5, -11px 19px 0 #c3c3b5, -10px 20px 0 #c3c3b5, -9px 21px 0 #c3c3b5, -8px 22px 0 #c3c3b5, -7px 23px 0 #c3c3b5, -6px 24px 0 #c3c3b5, -5px 25px 0 #c3c3b5, -4px 26px 0 #c3c3b5, -3px 27px 0 #c3c3b5, -2px 28px 0 #c3c3b5, -1px 29px 0 #c3c3b5, 0px 30px 0 #c3c3b5, 1px 31px 0 #c3c3b5, 2px 32px 0 #c3c3b5, 3px 33px 0 #c3c3b5;
}
	
/* Dog Days
-------------------------------------------------------------------------------*/
article#hamlet{
	background: url(../img/) no-repeat center center;}

/* La Traviata
-------------------------------------------------------------------------------*/
article#traviata{
	background: url(../img/traviata-1094x708.jpg) no-repeat center center;
	background-size:cover;
}

/* Hamlet
-------------------------------------------------------------------------------*/
article#hamlet{
	background: url(../img/hamlet-1094x708.jpg) no-repeat center center;
	background-size:cover;
}


/* Frontiers
-------------------------------------------------------------------------------*/
article#frontiers{
	height: 810px;
	background: url(../img/frontiers-bg.jpg) no-repeat fixed center center, #e3e2da;
	padding: 16px;
}

article#frontiers div.center_line{
	height: 126px;
}

article#frontiers div.copy-container{
	width:92%;
	max-width: 500px;
	margin: auto;
	padding-top: 0;
	padding-bottom: 50px;
	border:1px solid #ff504b;
}
article#frontiers div.copy-container img{margin-bottom: 20px;}
article#frontiers div.copy-container p{color: #003b23;}

article#frontiers a.frontiers_learn{
	width:172px;
	height: 68px;
	margin: -34px auto 0;
	display: block;
	background: url(../img/center-line.svg) no-repeat center 50px;
}

	article#frontiers a.frontiers_learn svg{fill:#003b23;}
	article#frontiers a.frontiers_learn p{
		height: 32px;
		width: 172px;
		padding: 8px;
		margin-top: -4px;
		line-height: 1em;
		font-size: 1em;
		text-align: center;
		background: #ff504b;
		color: #003b23;

		transition: 0.5s;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-o-transition: 0.5s;
	}
	article#frontiers a.frontiers_learn:hover p{
		background:#003b23; color:#ff504b;}


/* Tickets
-------------------------------------------------------------------------------*/

article#tickets{
	height: 708px;
	background: 
		url(../img/tickets-lines.svg) no-repeat top center, 
		url(../img/tickets-bg.svg) repeat fixed center center, 
		#003b23;
}


article#tickets div.container p.line1{
	width:200px;padding:4px;margin:150px auto 20px;}

article#tickets div.container h1.deep{
	color: #e3e2da;
	text-shadow: 0px 0px 0 #ff504b, -1px 1px 0 #ff504b, -2px 2px 0 #ff504b, -3px 3px 0 #ff504b, -4px 4px 0 #ff504b, -5px 5px 0 #ff504b, -6px 6px 0 #ff504b, -7px 7px 0 #ff504b, -8px 8px 0 #ff504b, -9px 9px 0 #ff504b, -10px 10px 0 #ff504b, -11px 11px 0 #ff504b, -12px 12px 0 #ff504b, -13px 13px 0 #ff504b, -14px 14px 0 #ff504b, -15px 15px 0 #ff504b, -15px 15px 0 #16261f, -14px 16px 0 #16261f, -13px 17px 0 #16261f, -12px 18px 0 #16261f, -11px 19px 0 #16261f, -10px 20px 0 #16261f, -9px 21px 0 #16261f, -8px 22px 0 #16261f, -7px 23px 0 #16261f, -6px 24px 0 #16261f, -5px 25px 0 #16261f, -4px 26px 0 #16261f, -3px 27px 0 #16261f, -2px 28px 0 #16261f, -1px 29px 0 #16261f, 0px 30px 0 #16261f, 1px 31px 0 #16261f, 2px 32px 0 #16261f, 3px 33px 0 #16261f;
}


article#tickets div.container a#go_button{
	height: 104px;
	width: 104px;
	padding:18px 0;
	margin: 30px auto;
	display: inline-block;
	border-radius: 52px;
	font-family: 'bebas-neue';
	font-size: 3.75em;
	background: #e3e2da;
	color: #ff504b;

	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
}
article#tickets div.container a#go_button:hover{
	border: 13px solid #e3e2da;
	padding: 12px 0;
	background: #ff504b;
	color: #003b23;
	font-size: 3em;
}

article#tickets div.container p.line2{
	width:340px;margin:10px auto;}

/* Footer
-------------------------------------------------------------------------------*/

footer{
	background: 
		url(../img/festival_info-bg.svg) fixed,
		url(../img/center-line.svg) no-repeat center -610px,
		#e3e2da;
	position: relative;
}

footer#festival_info div.container{
	height: 100%;
}
footer#festival_info div.container > ul,
footer#festival_info div.container > div{width: 50%;
	padding: 0 5%;
	margin-top: 200px;
	float: left;
}

	footer#festival_info div.container ul li{
		border-top: 2px solid #003b23;
		padding: 20px 60px;
	}
	footer#festival_info div.container ul li a{
		font-size: 1.5625em;
		font-weight: 700;
		color: #003b23;
	}
	footer#festival_info div.container ul li a:hover{background: #ff504b;}
	footer#festival_info div.container ul li:first-child{border-top: none;}



	footer#festival_info div.container > div p{
		width:120px;
		margin: 20px auto;
	}
	footer#festival_info div.container > div h2{
		margin-bottom: 50px;
	}


footer#festival_info div#go-to-top{
	height: 90px;
	width: 18.036072%;
	padding-top: 55px;
	margin: 0px auto;
	display: block;
	background: url(../img/go-to-top-bg.svg) no-repeat center bottom;
	background-size: contain;
	text-align: center;
	font-size: 1.3125em;
	font-weight: 700;
	position: absolute;
	z-index: 3;
	bottom: 0;
	left:0;
	right:0;
}
footer#festival_info div#go-to-top a{color:#003b23;}
footer#festival_info div#go-to-top a:hover{color:#e3e2da;}