/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com

-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

/* Apply a natural box layout model to all elements: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

article, aside, figure, footer, header, nav, section, details, summary {display: block;}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {max-width: 100%;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll; -webkit-font-smoothing: antialiased;}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before,
blockquote:after,
q:before,
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
    white-space: pre; /* CSS2 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
.ie7 input[type="checkbox"] {vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}

small {font-size: 85%;}

strong {font-weight: bold;}

td, td img {vertical-align: top;}

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button,
input[type=button] {width: auto; overflow: visible;}

/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }




/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body {font: 1em 'raleway', sans-serif; -webkit-font-smoothing: antialiased;}
*{
/*	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;*/
}
 html {
        font-family: 'mobile';
    }

    * html { /* IE6 */
        font-family: 'desktop'
    }

    *+html { /* IE7 */
        font-family: 'desktop'
    }

    @media \0screen {
        html {  /* IE8 */
            font-family: 'desktop'
        }
    }

    /* Reset your font families here!
     ----------------------------------- */
    body {
        font-family: 'raleway', sans-serif;
    }

    /* Queries for supported browsers.
     ----------------------------------- */
    body:after {
        display: none;
    }

    @media screen and (min-width: 35em) {
        html {
            font-family: "skinny";
        }
        body:after {
            content: "skinny";
        }
    }

    @media screen and (min-width: 56em) {
        html {
            font-family: "desktop";
        }
        body:after {
            content: "desktop";
        }
    }
/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */

/* We like off-black for text. */
body, select, input, textarea {color: #333;}

a {
	color: #ff504b;
	text-decoration: none;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;

}
a:hover {color: #003b23;}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background:rgba(255,80,75,.8); color: #003b23; text-shadow: none;}
::selection {background: rgba(255,80,75,.8); color: #003b23; text-shadow: none;}

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #ff504b;}

ins {background-color: #ff504b; color: #000; text-decoration: none;}
mark {background-color: #ff504b; color: #000; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }

/* Forest Green
 * #003b23
*/

/* Coral
 * #ff504b
*/

/* Beige Gray
 * #e3e2da
*/

/* Typography
-------------------------------------------------------------------------------*/

h1{
	font-size: 10.625em;
}

h2{
	font-family: 'Knockout 48 A', 'Knockout 48 B';
	font-weight: 400;
	font-style: normal;
	font-size: 4.5em;
	line-height: 1em;
	text-transform: uppercase;
	letter-spacing: .05em;
}

h3{
	font-family: 'Knockout 48 A', 'Knockout 48 B';
	font-weight: 400;
	font-style: normal;
	font-size: 1em;
	line-height: 1em;
	text-transform: uppercase;
	letter-spacing: .05em;
}

p{
	font-family: "raleway", sans-serif;
	font-size: .875em;
	font-weight: 700;
	line-height: 2em;
	letter-spacing: .15em;
	text-transform: uppercase;
	color: #003b23;
}

.copy-container > p,span.highlight{
	color: #ff504b;
}


/* Knockout Featherweight no.48
font-family: 'Knockout 48 A', 'Knockout 48 B';
font-weight: 400;
font-style: normal;
*/

/* Global Styles
-------------------------------------------------------------------------------*/

	/* Universal Truths!!! */
	div#wrapper{height: auto;width: 100%;}


	.desktop{
		display: block;
		}
	.mobile,.mobile.image_sub{
		display: none;
	}
	br.clear{clear:both;}
	.left{
		float: left;
		transition: 0.5s;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-o-transition: 0.5s;
	}
	.right{float: right;}

	.coral-bg{background:#ff504b;color:#003b23;}
	.green-bg{background:#003b23;color:#ff504b;}

	.nobuy #go_button, .nobuy .buy_tickets { display: none!important; }

	article#tickets div.container.nobuy p.line2 { margin: 58px auto; }



h1 a{
	height: 51px; width:51px;
	display: block;
	background: url(../i/fwopera_logo_42x42.svg) no-repeat;
	background-size: contain;
	text-indent: -9999px;
	margin: 0 auto;
}

div.coral_bar{
	height: 6px;
	width: 100%;
	background: #ff504b;
}

article.image, header,footer{
	height: 708px;
	background: #e3e2da;
	color: #003b23;
	position: relative;
}
article.break{
	height: 500px;
	padding: 16px;
	background: url(../i/break-lines-bg.svg) repeat center center, #003b23;
	color: #e3e2da;
	position: relative;
	z-index: 1;
}
	article#break1{background:url(../i/bottom_border.svg) no-repeat center -1px,
		url(../i/break-lines-bg.svg) repeat center center, #003b23
		;}

div.center_line{
	width:16px;
	height: 124px; /* adjust in mobile and #frontiers*/
	margin: 0 auto;
	background: url(../i/center-line.svg) no-repeat center center;
}

div.container{
	width: 100%;
	padding: 0 30px;
	height: 748px;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	z-index: 2;
	left: 0; right:0;
}
	header div.container, article#tickets div.container{padding:0px;}
	article.image div.container{margin-top: -18px; z-index: 2;}

div.image-container{
	width: 100%;
	margin: 0 auto;
}
div.image-content{
	height: 648px;
	border-left: 1px solid #ff504b;
	border-right: 1px solid #ff504b;
}



/* Play Titles */
div.title{
	height: 150px;
	color: #003b23;
	display: inline-block;
	position: absolute;
	z-index: 3;
}
	div.title h2{
		height: 94px;
		padding: 10px 20px;
		background: #ff504b;
	}
	div.title svg{
		float:right;
		fill: #003b23;
	}
	div.title > a{
		height: 34px;
		width:128px;
		padding: 8px;
		float:right;
		text-align: center;
		display: block;
		background: #ff504b;
		position: relative;
	}
		div.title > a:hover{background: #003b23;}

	div.title > a p{
		font-size: 1.25em;
		line-height: 1em;
		letter-spacing: .1em;}
		div.title a:hover p{color: #ff504b;}



.break-text{
	width: 92%;
	max-width:630px;
	margin: auto;
}
div.copy-container{
	padding: 20px 20px;
	text-align: center;
	border-left: 1px solid #ff504b;
	border-right: 1px solid #ff504b;
	background:
	url(../i/topleft-bottomright-corner.svg) no-repeat left top,
	url(../i/topright-bottomleft-corner.svg) no-repeat right top,
	url(../i/topleft-bottomright-corner.svg) no-repeat right bottom,
	url(../i/topright-bottomleft-corner.svg) no-repeat left bottom;
}
div.top-border{
	height:47px;
	background:url(../i/top_border.svg) repeat-x center top;
	position: relative;
	z-index: 2;}
div.bottom-border{
	height:47px;
	background:url(../i/bottom_border.svg) repeat-x center bottom;
	position: relative;
	z-index: 2;
}


/* Lightbox
	-------------------------------------------------------------------------------*/
	.lb-overlay{
		width: 0px;
		height: 0px;
		position: fixed;
		overflow: hidden;
		left: 0px;
		top: 0px;
		padding: 0px;
		z-index: 10;
		background: rgba(0,0,0,.8);
	}
	.lb-overlay > div.detail-container{
		position: relative;
		z-index: 11;
		border: 6px solid #ff504b;
		background: #e3e2da;
		color: #ff504b;
		opacity: 0;
		filter: alpha(opacity=0); /* internet explorer */
	    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/


		height: auto;
		width:92%;
		max-width: 980px;
		margin: 10px auto 0px auto;
	}

	.lb-title{
		display: inline-block;
		width: auto;
		min-width: 50%;
		height: 94px;
		padding: 5px 20px;
		background: #ff504b;
		color: #003b23;
		text-align: left;
	}
	.lb-title > h2{padding-right:10px;}
	.lb-title > p{font-size:.75em;padding: 20px 0;font-weight: 400;font-style:italic;line-height: 1em;}
	#dogdays-info .lb-title > p{padding: 13px 0;}

	.lb-title > p strong{line-height:.6em;display:block;}

		.lb-overlay > div.detail-container div.detail-content{
			padding: 20px 20px 30px;
			height: 100%;
			width: 100%;
			position: relative;
			z-index: 12;
		}
			.lb-overlay > div.detail-container div.detail-content div.detail-column{
				padding: 20px 20px 0;
				width: 50%;
				float: left;
				text-align: left;
				position: relative;
				z-index: 13;
			}
			.lb-overlay > div.detail-container div.detail-content div.detail-column h4{
				font-size: 1.3125em;
				line-height: 1em;
				text-transform: uppercase;
				letter-spacing: .1em;
				border-bottom: 2px solid #003b23;
				padding-bottom: 5px;
				margin-bottom: 5px;
			}


			.lb-overlay > div.detail-container div.detail-content div.detail-column p.synopsis,
			.lb-overlay > div.detail-container div.detail-content div.detail-column p.special{
				font-size: .75em;
				font-weight: 400;
				text-transform: none;
				letter-spacing: 0em;
				margin-bottom: 20px;
			}
			.lb-overlay > div.detail-container div.detail-content div.detail-column p.callouts{
				font-size: .875em;
				font-weight: 400;
				line-height: 1.25em;
				text-transform: none;
				letter-spacing: -.01em;
				margin-bottom: 25px;
			}
				.lb-overlay > div.detail-container div.detail-content div.detail-column i{
					border-bottom:1px solid #ff504b;
					padding-bottom: 3px;
				}
				.lb-overlay > div.detail-container div.detail-content div.detail-column i.no-underline{
					border-bottom:0px solid #ff504b;
					padding-bottom: 0;
				}
				.lb-overlay > div.detail-container div.detail-content div.detail-column em{font-style:normal;color:#ff504b;}
			.lb-overlay > div.detail-container div.detail-content div.detail-column p.dates{
				font-size: .875em;
				font-weight: 700;
				line-height: 1.25em;
				text-transform: none;
				letter-spacing: 0em;
				padding-top:10px;
			}
				.lb-overlay > div.detail-container div.detail-content div.detail-column p.dates ~ p.dates, #hamlet-info.lb-overlay > div.detail-container div.detail-content div.detail-column p.dates
				{
					padding-bottom:22px;
				}


			.lb-overlay > div.detail-container div.detail-content div.detail-column ul li{
				position: relative;
				z-index: 15;
				border-bottom: 1px solid #003b23;
				padding-bottom: 10px;
				margin-bottom: 10px;
			}

			.lb-overlay > div.detail-container div.detail-content div.detail-column ul li+li{border-bottom: 0px solid #003b23;}
			.lb-overlay > div.detail-container div.detail-content div.detail-column ul li a{
				font-size: 1.125em;
				font-weight: 700;
				color:#003b23;
				text-transform: uppercase;
				position: relative;
				z-index: 999;}
			.lb-overlay > div.detail-container div.detail-content div.detail-column a:hover{background:#ff504b;}



			.lb-overlay > div.detail-container div.detail-content div.detail-column p.viewer_discretion{
				font-size: .75em;
				font-weight: 400;
				text-transform: none;
				font-style: italic;
				letter-spacing: 0em;
				line-height: 1.5em;
				padding: 0 0 0 7px;
				text-indent: -7px;
			}
			.lb-overlay > div.detail-container div.detail-content div.detail-column ~ div.detail-column ul{margin:10px 0;}

			.lb-overlay > div.detail-container div.detail-content div.detail-column ~ div.detail-column ul li{
				font-size: .875em;
				padding: 0 0 0 13px;
				text-indent: -13px;
				font-weight: 700;
				color:#003b23;
				border-bottom: 0px;
			}


			.lb-overlay > div.detail-container div.detail-content div.detail-column + div.detail-column h4 ~ h4 {
				border-bottom: 0px;
				border-top:2px solid #003b23;
				padding-top: 28px;
			}

			.lb-overlay > div.detail-container div.detail-content div.detail-column a.learn-more{
				display: block;
				background:#cfcfc8;
				color: #9b9c98;
				text-transform: uppercase;
				font-size: .6875em;
				font-weight: 700;
				letter-spacing: .2em;
				padding: 3px 6px;
				width: 105px;
				margin: 10px 0 30px;
			}
			.lb-overlay > div.detail-container div.detail-content div.detail-column a.learn-more:hover{
				background: #ff504b;color:#003b23;
			}
			.lb-overlay > div.detail-container div.detail-content a.buy_tickets{
				display: block;
				height: 100px;
				width: 200px;
				padding-top:26px;
			    -moz-border-radius: 200px 200px 0 0;
			    -webkit-border-radius: 200px 200px 0 0;
			    border-radius: 200px 200px 0 0;
			    background: #003b23;
			    color: #ff504b;
			    position: absolute;
			    bottom: 0;
			    left: 52%;
			    font-size: 2em;
			    line-height: 1em;
			    font-weight: 700;
			    letter-spacing: .1em;
			    text-align: center;

			}
			.lb-overlay > div.detail-container div.detail-content a.buy_tickets:hover{background:#ff504b;color:#003b23;}







	.lb-overlay a.lb-close{
		width: 75px;
		height: 75px;
		padding-top: 7px;
		background:
			url(../i/lb-close.svg) no-repeat 15px 12px,
			#ff504b;



		text-indent: -9999px;
		font-family: "raleway";

		font-size: 1.5em;
		font-weight: 500;
		color: #003b23;
		letter-spacing: .1em;
		text-transform: uppercase;

		z-index: 99;
		position: absolute;
		top: 0;
		right: 0;
		overflow: hidden;
		margin-left: -25px;
	}
	.trailer-previews a.lb-close{
		background: url(../i/lb-close-hover.svg) no-repeat 15px 12px,
			#e3e2da;
			color: #ff504b;
	}
	.lb-overlay.trailer-previews a.lb-close:hover{
		background: url(../i/lb-close-hover-trailers.svg) no-repeat 15px 12px,
			#ff504b;
			color: #e3e2da;
	}

	.lb-overlay a.lb-close:hover{
		background:
			url(../i/lb-close-hover.svg) no-repeat 15px 12px,
			#003b23;
	}


	.lb-overlay:target {
		width: auto;
		height: auto;
		bottom: 0px;
		right: 0px;
		padding-top: 2%;
		overflow: scroll;
		outline: none;
	}
	.lb-overlay:target > div{
		opacity: 1;
		filter: alpha(opacity=99); /* internet explorer */
	    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
	}
	.lb-overlay:target > div div.detail-content div.detail-column ul li a{z-index: 999;}










/* Nav
-------------------------------------------------------------------------------*/
nav {
  position: fixed;
  top: 50%;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  z-index: 5;
}

/* Menu */
nav ul li{}

	nav ul li.menu a.toggle{
		display: block;
		width: 120px;
		height: 30px;
		padding: 4px 17px;

		font-size: 1.25em;
		font-weight: 700;
		letter-spacing: .1em;
		text-align: left;
		color: #003b23;

		background:
			url(../i/menu-open.svg) no-repeat 90% center,
			url(../i/menu-bg.svg) no-repeat center center;
		background-size: 15px 15px, 120px 30px;

		-webkit-transition: none;
		-moz-transition: none;
		-o-transition: none;
		transition: none;
	}
	nav ul li.menu a.toggle:hover{
		color:#ff504b;
		background:
			url(../i/menu-open-hover.svg) no-repeat 90% center,
			url(../i/menu-bg-hover.svg) no-repeat center center;
		background-size: 15px 15px, 120px 30px;
		}
	/* When Menu is expanded */
	nav ul li.menu a.toggle.active{
		width: 120px;
		height: 30px;
		background:
			url(../i/menu-close.svg) no-repeat 90% center,
			url(../i/menu-bg.svg) no-repeat center center;
		background-size: 15px 15px, 120px 30px;
	}

	nav ul li.menu a.toggle.active:hover{
		background:
			url(../i/menu-close-hover.svg) no-repeat 90% center,
			url(../i/menu-bg-hover.svg) no-repeat center center;
		background-size: 15px 15px, 120px 30px;}


	/* When Menu is expanded */
	nav ul li ul.nav-collapse li a{
		width: 120px;
		height: auto;
		padding: 5px;
		display: block;

		font-size: .75em;
		font-weight: 700;
		letter-spacing: .1em;
		color: #003b23;

		background: #ff504b;
		border-top: 1px solid #003b23;

		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-o-transition: 0.5s;
		transition: 0.5s;
	}
	nav ul li ul.nav-collapse li a.navlink7{height: 40px;}
		/* When hovering over listed Menu items */
		nav ul li ul.nav-collapse li a:hover, nav ul li ul.nav-collapse li a.active{background: #003b23;color: #ff504b;}



/* Header
-------------------------------------------------------------------------------*/

header{
	background: url(../i/green-dot-pattern_10x65.png) repeat-x center 300px, #e3e2da;
	padding: 0;
}

header p.line1{
	line-height: 1em;
	padding: 5px 10px;
	margin: 80px auto 30px ;
	font-size: 1.25em;
	font-weight: 400;
	display: inline-block;
}
header p.line2{
	width: 750px;
	font-size: 1.5em;
	font-weight: 400;
	letter-spacing: .25em;
	margin: 50px auto;
	background:
		url(../i/header-line2-left.svg) no-repeat left center,
		url(../i/header-line2-right.svg) no-repeat right center;
}

header div.container div.scroll_down{display: inline-block;}
	header div.container div.scroll_down a p{margin-top: 20px;color: #ff504b;}

	header div.container div.scroll_down a img{margin: 0 10px;}

	header div.container div.scroll_down a:hover p{color: #003b23;}
	header div.container div.scroll_down:hover img{margin: 35px 10px;}

header div.container div.center_line{
	height: 37px;
	background-position:center -708px;
}


h1.deep{
	font-family: 'Knockout 48 A', 'Knockout 48 B';
	font-weight: 400;
	font-style: normal;
	margin-left: 3%; /* Center text */
	letter-spacing: .125em;
	font-size: 250px;
	line-height: 1em;
	text-align: center;
	color: #003b23;}




/* Dog Days
-------------------------------------------------------------------------------*/
article#dogdays{
	background: url(../i/dogdays-1094x708.jpg) no-repeat center center;
	background-size:cover;}


/* La Traviata
-------------------------------------------------------------------------------*/
article#traviata{
	background: url(../i/traviata-1094x708.jpg) no-repeat center center;
	background-size:cover;
}

/* Hamlet
-------------------------------------------------------------------------------*/
article#hamlet{
	background: url(../i/hamlet-1094x708.jpg) no-repeat center center;
	background-size:cover;
}


/* Frontiers
-------------------------------------------------------------------------------*/
article#frontiers{
	height: 810px;
	background: transparent;
	/*background: url(../i/frontiers-bg.jpg) no-repeat fixed center center, #e3e2da;*/
	padding: 16px;
}
	.background-circles {
		background: url("../i/frontiers-bg.jpg") no-repeat fixed center center, #e3e2da;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		height: 100%;
		z-index: -1;
	}

article#frontiers div.center_line{
	height: 126px;
}

article#frontiers div.copy-container{
	width:92%;
	max-width: 500px;
	margin: auto;
	padding-top: 0;
	padding-bottom: 50px;
	border:1px solid #ff504b;
}
article#frontiers div.copy-container img{margin-bottom: 20px;}
article#frontiers div.copy-container p{color: #003b23;}

article#frontiers a.frontiers_learn{
	width:172px;
	height: 68px;
	margin: -34px auto 0;
	display: block;
	background: url(../i/center-line.svg) no-repeat center 50px;
}

	article#frontiers a.frontiers_learn svg{fill:#003b23;}
	article#frontiers a.frontiers_learn p{
		height: 32px;
		width: 172px;
		padding: 8px;
		margin-top: -4px;
		line-height: 1em;
		font-size: 1em;
		text-align: center;
		background: #ff504b;
		color: #003b23;

		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-o-transition: 0.5s;
		transition: 0.5s;
	}
	article#frontiers a.frontiers_learn:hover p{
		background:#003b23; color:#ff504b;}


/* Tickets
-------------------------------------------------------------------------------*/

article#tickets{
	height: 708px;
	background:
		url(../i/tickets-lines.svg) no-repeat top center,
		url(../i/tickets-bg.svg) repeat center center,
		#003b23;
}

article#tickets div.container{
	height: 692px;
}

article#tickets div.container p.line1{
	width:200px;padding:4px;margin:150px auto 20px;}

article#tickets div.container h1.deep{
	color: #e3e2da !important;
}


article#tickets div.container a#go_button{
	height: 104px;
	width: 104px;
	margin: 30px auto;
	display: inline-block;
	border-radius: 52px;
	background: #e3e2da;


}
	article#tickets div.container a#go_button h3{
		margin-top: 18px;
		font-size: 3.75em;
		color: #ff504b;
		transition: all 0.5s ease-in-out;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out
	}



article#tickets div.container a#go_button:hover{
	/*border: 20px solid rgba(227, 226, 218, .5);*/
	border-radius: 52px;
	background: #ff504b;
	-moz-background-clip: content;     /* Firefox 3.6 */
	-webkit-background-clip: content;  /* Safari 4? Chrome 6? */
	background-clip: content-box;
}
	article#tickets div.container a#go_button:hover h3{
		/*margin-top: 12px;
		font-size: 2.5em;
		color: #003b23;*/
		color: #e3e2da;
	}


article#tickets div.container p.line2{
	width:340px;margin:10px auto;}


/* Festival Trailers
-------------------------------------------------------------------------------*/

article#festival_trailers{
	width: 100%;
	height: 250px;
}

article#festival_trailers div.trailer{
	width: 50%;
	height: 250px;
	float: left;
	border: 1px solid #ff504b;
}

article#festival_trailers div#trailer-1{
	background: url(../i/trailer_1.jpg) no-repeat center center, #e3e2da;
	background-size: cover;
}
article#festival_trailers div#trailer-2{
	background: url(../i/trailer_2.jpg) no-repeat center center, #e3e2da;
	background-size: cover;
}

article#festival_trailers div.trailer a.play_video{
	height: 104px;
	width: 104px;
	display: block;
	margin: 72px auto;
	border: 20px solid rgba(227, 226, 218, .5);
	border-radius: 52px;
	background: #ff504b;
	-moz-background-clip: content;     /* Firefox 3.6 */
	-webkit-background-clip: content;  /* Safari 4? Chrome 6? */
	background-clip: content-box;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}
article#festival_trailers div.trailer a.play_video svg{
	height: 29px;
	width: 30px;
	margin: 17px 0 0 20px;
	fill:#003b23;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}

article#festival_trailers div.trailer a.play_video:hover{
	border: 10px solid #e3e2da;
}
article#festival_trailers div.trailer a.play_video:hover svg{
	height: 50px;
	width: 50px;
	margin: 17px 0 0 22px;
	fill:#e3e2da;
}


article#festival_trailers div.festival_trailers{
	width:220px;
	height: 68px;
	margin: 91px 0 0 -110px;
	position: absolute;
	left: 50%;
}

	article#festival_trailers div.festival_trailers svg{fill:#003b23;}
	article#festival_trailers div.festival_trailers p{
		height: 32px;
		width: 220px;
		padding: 8px;
		margin-top: -4px;
		line-height: 1em;
		font-size: 1em;
		text-align: center;
		background: #ff504b;
		color: #003b23;

	}


div.lb-overlay.trailer-previews div.detail-container{
	width: 90vw;
    height: 50.625vw; /* 100/56.25 = 1.778 */
	max-height: 90vh;
    max-width: 177.78vh; /* 16/9 = 1.778 */
    margin-top: 8%;
}
div.lb-overlay.trailer-previews div.detail-container iframe{
	width: 100%;
    height: 100%;
	padding-bottom:60px;}
div.lb-overlay.trailer-previews div.detail-container .trailer-info{
	height: 60px;
	width: 100%;
	padding: 20px;
	background:#e3e2da;
	position: absolute;
	bottom:0;
}
div.lb-overlay.trailer-previews div.detail-container .trailer-info a{
	display: block;
	height: 22px;
	width: 22px;
	padding-top: 1px;
	border-radius: 22px;
	margin-right: 8px;
	float: left;
	background: #ff504b;
	text-align: center;
}
div.lb-overlay.trailer-previews div.detail-container .trailer-info a svg{
	fill:#003b23;
	height:52%;
	width:52%;
}
	div.lb-overlay.trailer-previews div.detail-container .trailer-info a:hover{background:#003b23;}
	div.lb-overlay.trailer-previews div.detail-container .trailer-info a:hover svg{fill:#ff504b;}
div.lb-overlay.trailer-previews div.detail-container .trailer-info p{margin-right:20px;line-height: 1.375em;letter-spacing: .075em;}
div.lb-overlay.trailer-previews div.detail-container .trailer-info p~p{color:#ff504b;margin-right:0;}

/* Footer - Festival Info
-------------------------------------------------------------------------------*/

footer{
	background:
		url(../i/festival_info-bg.svg) fixed,
		url(../i/center-line.svg) no-repeat,
		#e3e2da;
		background-position: center center, center -610px;
	position: relative;
}

footer#festival_info div.container{
	height: 100%;
}
footer#festival_info div.container > ul,
footer#festival_info div.container > div{width: 50%;
	padding: 0 5%;
	margin-top: 200px;
	float: left;
}

	footer#festival_info div.container ul li{
		border-top: 2px solid #003b23;
		padding: 20px 60px;
	}
	footer#festival_info div.container ul li a{
		font-size: 1.5625em;
		font-weight: 700;
		color: #003b23;
	}
	footer#festival_info div.container ul li a:hover{background: #ff504b;}
	footer#festival_info div.container ul li:first-child{border-top: none;}



	footer#festival_info div.container > div p{
		width:120px;
		margin: 20px auto;
	}
	footer#festival_info div.container > div a{color:#003b23;}
	footer#festival_info div.container > div a:hover{color:#ff504b;}
	footer#festival_info div.container > div h2{
		margin-bottom: 50px;
	}


footer#festival_info div#go-to-top{
	height: 90px;
	width: 20%;
	padding-top: 55px;
	margin: 0px auto;
	display: block;
	background: url(../i/go-to-top-bg.svg) no-repeat center bottom;
	background-size: contain;
	text-align: center;
	font-size: 1.3125em;
	font-weight: 700;
	position: absolute;
	z-index: 3;
	bottom: 0;
	left:0;
	right:0;
}
footer#festival_info div#go-to-top a{color:#003b23;}
footer#festival_info div#go-to-top a:hover{color:#e3e2da;}





.responsive-br{display: none;}

/* Parallax
-------------------------------------------------------------------------------*/
@media screen and (min-width: 960px){

	/* Header */
	h1.deep{
		text-shadow:
		0px 0px 0 #ff504b,
		 -1px 1px 0 #ff504b,
		  -2px 2px 0 #ff504b,
		   -3px 3px 0 #ff504b,
		    -4px 4px 0 #ff504b,
		     -5px 5px 0 #ff504b,
		      -6px 6px 0 #ff504b,
		       -7px 7px 0 #ff504b,
		        -8px 8px 0 #ff504b,
		         -9px 9px 0 #ff504b,
		          -10px 10px 0 #ff504b,
		           -11px 11px 0 #ff504b,
		            -12px 12px 0 #ff504b,
		             -13px 13px 0 #ff504b,
		              -14px 14px 0 #ff504b,
		               -15px 15px 0 #ff504b,

		 -15px 15px 0 #c3c3b5,
		  -16px 16px 0 #c3c3b5,
		   -17px 17px 0 #c3c3b5,
			-18px 18px 0 #c3c3b5,
			 -19px 19px 0 #c3c3b5,
			  -20px 20px 0 #c3c3b5,
			   -21px 21px 0 #c3c3b5,
			    -22px 22px 0 #c3c3b5,
			     -23px 23px 0 #c3c3b5,
			      -24px 24px 0 #c3c3b5,
			      -25px 25px 0 #c3c3b5,
			       -26px 26px 0 #c3c3b5,
			        -27px 27px 0 #c3c3b5,
			         -28px 28px 0 #c3c3b5,
			          -29px 29px 0 #c3c3b5,
			           -30px 30px 0 #c3c3b5,
			            -31px 31px 0 #c3c3b5,
			             -32px 32px 0 #c3c3b5,
			              -33px 33px 0 #c3c3b5,
			               -34px 34px 0 #c3c3b5,
			                -35px 35px 0 #c3c3b5,
			                 -36px 36px 0 #c3c3b5,
			                  -37px 37px 0 #c3c3b5,
			                   -38px 38px 0 #c3c3b5,
			                    -39px 39px 0 #c3c3b5,
			                     -40px 40px 0 #c3c3b5,
			                      -41px 41px 0 #c3c3b5,
			                       -41px 42px 0 #c3c3b5,
			                        -42px 43px 0 #c3c3b5,
			                         -43px 44px 0 #c3c3b5,
			                          -44px 45px 0 #c3c3b5;


		-webkit-transition:text-shadow 0.5s ease-in-out;
		-moz-transition:text-shadow 0.5s ease-in-out;
		-o-transition:text-shadow 0.5s ease-in-out;
		-ms-transition:text-shadow 0.5s ease-in-out;
		transition:text-shadow 0.5s ease-in-out;
		}

	header div.container div.scroll_down a:hover p,
	header div.container div.scroll_down.active a p{color: #003b23;}
	header div.container div.scroll_down:hover img,
	header div.container div.scroll_down.active img{margin: 35px 10px;}

	h1.deep.active{
	text-shadow:
		0px 0px 0 #ff504b,
		 -1px 1px 0 #ff504b,
		  -2px 2px 0 #ff504b,
		   -3px 3px 0 #ff504b,
		    -4px 4px 0 #ff504b,
		     -5px 5px 0 #ff504b,
		      -6px 6px 0 #ff504b,
		       -7px 7px 0 #ff504b,
		        -8px 8px 0 #ff504b,
		         -9px 9px 0 #ff504b,
		          -10px 10px 0 #ff504b,
		           -11px 11px 0 #ff504b,
		            -12px 12px 0 #ff504b,
		             -13px 13px 0 #ff504b,
		              -14px 14px 0 #ff504b,
		               -15px 15px 0 #ff504b,

		 -15px 15px 0 #c3c3b5,
		  -14px 16px 0 #c3c3b5,
		   -13px 17px 0 #c3c3b5,
			-12px 18px 0 #c3c3b5,
			 -11px 19px 0 #c3c3b5,
			  -10px 20px 0 #c3c3b5,
			   -9px 21px 0 #c3c3b5,
			    -8px 22px 0 #c3c3b5,
			     -7px 23px 0 #c3c3b5,
			      -6px 24px 0 #c3c3b5,
			      -5px 25px 0 #c3c3b5,
			       -4px 26px 0 #c3c3b5,
			        -3px 27px 0 #c3c3b5,
			         -2px 28px 0 #c3c3b5,
			          -1px 29px 0 #c3c3b5,
			           0px 30px 0 #c3c3b5,
			            1px 31px 0 #c3c3b5,
			             2px 32px 0 #c3c3b5,
			              3px 33px 0 #c3c3b5,
			               4px 34px 0 #c3c3b5,
			                5px 35px 0 #c3c3b5,
			                 6px 36px 0 #c3c3b5,
			                  7px 37px 0 #c3c3b5,
			                   8px 38px 0 #c3c3b5,
			                    9px 39px 0 #c3c3b5,
			                     10px 40px 0 #c3c3b5,
			                      11px 41px 0 #c3c3b5,
			                       12px 42px 0 #c3c3b5,
			                        13px 43px 0 #c3c3b5,
			                         14px 44px 0 #c3c3b5,
			                          15px 45px 0 #c3c3b5;}


	div.px-container{
		height:708px;
		width: 100%;
		position:absolute;
		display: block;
		margin: 0 auto;
		top:0;left:0;right: 0;
		overflow: hidden;
	}


	/* Dog Days */
	article#dogdays > div#px-dogdays{
		background:url(../i/px-dogdays_sky_background.jpg) no-repeat top center,#fff;
		background-size: 100% 110%;
	}
	div.px-container img {
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-perspective: 1000;
		perspective: 1000;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0,0,0);
		-webkit-transition: 1s ease;
		-moz-transition: 1s ease;
		-o-transition: 1s ease;
		transition: 1s ease;
	}
	div.px-container img#px-dogdays-sky-background{
		width: 100%;
		min-height:708px;
		position: absolute;
		top: 0px;
	}

	div.px-container img#px-dogdays-leftlandscape{
		/*height: 708px;*/
		-webkit-transform: scale(1);
		transform: scale(1);
		position: absolute;
		top:0;
		left: 0;
	}
	div.px-container img#px-dogdays-rightlandscape{
		-webkit-transform: scale(1);
		transform: scale(1);
		/*height: 708px;*/
		position: absolute;
		top:0;
		right: 0;
	}

	div.px-container img#px-dogdays-helicopter{
		height: 144px;
		position: absolute;
		left: 70%;
		top:160px;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	div.px-container img#px-dogdays-man{
		height: 708px;
		margin-left: -360px;
		position: absolute;
		left: 50%;
		top:100px;
		-webkit-transform: translate3d(0, 200px, 0);
		transform: translate3d(0, 200px, 0);
	}

	/* La Traviata */
	div.px-container img#px-traviata-background{
		width: 100%;
		min-height:708px;
		position: absolute;
		top: 0px;
	}

	div.px-container img#px-traviata-lefthand{
		height: 440px;
		position: absolute;
		left: -160px;
		top:110px;

		/*-ms-transform: rotate(25deg); /* IE 9 */
		/*-webkit-transform: rotate(25deg); /* Chrome, Safari, Opera */
		/*transform: rotate(25deg);*/
	}
	div.px-container img#px-traviata-righthand{
		height: 480px;
		position: absolute;
		right: -160px;
		top:110px;


		/*-ms-transform: rotate(-25deg); /* IE 9 */
		/*-webkit-transform: rotate(-25deg); /* Chrome, Safari, Opera */
		/*transform: rotate(-25deg);*/
	}

	div.px-container img#px-traviata-leftcurtain{
		height: 720px;
		min-height: 720px;
		position: absolute;
		left: 0px;
		top:0;
	}
	div.px-container img#px-traviata-rightcurtain{
		height: 720px;
		min-height: 720px;
		position: absolute;
		right: 0px;
		top:0;
	}

	div.px-container img#px-traviata-musician{
		height: 240px;
		position: absolute;
		left: 5%;
		bottom:0px;
	}
	div.px-container img#px-traviata-horns{
		height: 380px;
		position: absolute;
		margin-left:-240px;
		left: 50%;
		bottom:-40px;
	}
	div.px-container img#px-traviata-middle{
		height: 360px;
		position: absolute;
		margin: auto;
		left:0;right:0;
		bottom:0px;
	}

	div.px-container img#px-traviata-butterfly{
		height: 180px;
		position: absolute;
		left:30%;
		top:-16px;
	}

	div.px-container img#px-traviata-leftcurtain2{
		height: 160px;
		position: absolute;
		left: 0px;
		bottom:0px;
	}
	div.px-container img#px-traviata-rightcurtain2{
		height: 160px;
		position: absolute;
		right: 0px;
		bottom:0px;
	}
	div.px-container img#px-traviata-girl{
		height: 700px;
		position: absolute;
		margin-left:-350px;
		left:50%;
		bottom:-220px;

		background: url(../i/px-traviata_horns.png) no-repeat center 250px;
		background-size: 580px;
	}

	/* Hamlet */
	article#hamlet > div#px-hamlet{
		background: url(../i/px-hamlet_background.jpg) repeat top center;
		background-size: 100% auto;
	}

	div.px-container img#px-hamlet-main-bottom{
		height: 708px;
		position: absolute;
		left: -500px;
		bottom:-500px;

		-ms-transform: rotate(-155deg); /* IE 9 */
		-webkit-transform: rotate(-155deg); /* Chrome, Safari, Opera */
		transform: rotate(-155deg);
	}

	div.px-container img#px-hamlet-main-top{
		height: 708px;
		position: absolute;
		right: -300px;
		top:-500px;
	}

	div.px-container img#px-hamlet-main{
		height: 708px;
		width: 1094px;
		position: absolute;
		top:60px;
		right:0;left:0;
		margin: auto;
	}
	div.px-container img#px-hamlet-splatter{
		height: 111px;
		position: absolute;
		top:350px;
		right:0;left:0;
		margin: auto;
	}
	div.px-container img#px-hamlet-drips{
		height: 708px;
		width: 1094px;
		position: absolute;
		top:60px;
		right:0;left:0;
		margin: auto;
	}

	/* Tickets */
	article#tickets div.container h1.deep{
		color: #e3e2da;
		text-shadow:
		0px 0px 0 #ff504b,
		-1px 1px 0 #ff504b,
		-2px 2px 0 #ff504b,
		-3px 3px 0 #ff504b,
		-4px 4px 0 #ff504b,
		-5px 5px 0 #ff504b,
		-6px 6px 0 #ff504b,
		-7px 7px 0 #ff504b,
		-8px 8px 0 #ff504b,
		-9px 9px 0 #ff504b,
		-10px 10px 0 #ff504b,
		-11px 11px 0 #ff504b,
		-12px 12px 0 #ff504b,
		-13px 13px 0 #ff504b,
		-14px 14px 0 #ff504b,
		-15px 15px 0 #ff504b,

		-15px 15px 0 #16261f,
		-16px 16px 0 #16261f,
		-17px 17px 0 #16261f,
		-18px 18px 0 #16261f,
		-19px 19px 0 #16261f,
		-20px 20px 0 #16261f,
		-21px 21px 0 #16261f,
		-22px 22px 0 #16261f,
		-23px 23px 0 #16261f,
		-24px 24px 0 #16261f,
		-25px 25px 0 #16261f,
		-26px 26px 0 #16261f,
		-27px 27px 0 #16261f,
		-28px 28px 0 #16261f,
		-29px 29px 0 #16261f,
		-30px 30px 0 #16261f,
		-31px 31px 0 #16261f,
		-32px 32px 0 #16261f,
		-33px 33px 0 #16261f;

		-webkit-transition:text-shadow 0.5s ease-in-out;
	    -moz-transition:text-shadow 0.5s ease-in-out;
	    -o-transition:text-shadow 0.5s ease-in-out;
	    -ms-transition:text-shadow 0.5s ease-in-out;
	    transition:text-shadow 0.5s ease-in-out;
	}

	article#tickets div.container h1.deep.active{
		color: #e3e2da;
		text-shadow:
		0px 0px 0 #ff504b,
		-1px 1px 0 #ff504b,
		-2px 2px 0 #ff504b,
		-3px 3px 0 #ff504b,
		-4px 4px 0 #ff504b,
		-5px 5px 0 #ff504b,
		-6px 6px 0 #ff504b,
		-7px 7px 0 #ff504b,
		-8px 8px 0 #ff504b,
		-9px 9px 0 #ff504b,
		-10px 10px 0 #ff504b,
		-11px 11px 0 #ff504b,
		-12px 12px 0 #ff504b,
		-13px 13px 0 #ff504b,
		-14px 14px 0 #ff504b,
		-15px 15px 0 #ff504b,

		-15px 15px 0 #16261f,
		-14px 16px 0 #16261f,
		-13px 17px 0 #16261f,
		-12px 18px 0 #16261f,
		-11px 19px 0 #16261f,
		-10px 20px 0 #16261f,
		-9px 21px 0 #16261f,
		-8px 22px 0 #16261f,
		-7px 23px 0 #16261f,
		-6px 24px 0 #16261f,
		-5px 25px 0 #16261f,
		-4px 26px 0 #16261f,
		-3px 27px 0 #16261f,
		-2px 28px 0 #16261f,
		-1px 29px 0 #16261f,
		0px 30px 0 #16261f,
		1px 31px 0 #16261f,
		2px 32px 0 #16261f,
		3px 33px 0 #16261f;
	}


}


/* Media queries
-------------------------------------------------------------------------------*/

/* Less than 960 */
@media screen and (max-width: 959px){
	div.px-container{display: none;}
	.desktop{display: none;}
	.mobile{display: block;}
	.mobile.image_sub{display: none;}

	.nav-down {
    	top: 0px;
	}
	.nav-up {
    	top: -80px;
	}

	nav {
	    top: 0;
	    width: 100%;
	  }
		nav ul li.menu{
			height: 40px;
			width: 100%;
		}

		/* FW Opera Logo */
		.menu h1 {
			display: block;
			float: left;
			position: relative;
			z-index: 99999999;
		}
		nav ul li.menu h1 a{
			height: 40px;
			width: 43px;
			background: url(../i/fwopera_logo_42x42.svg) no-repeat, #e3e2da;
			background-size: contain;
			background-size: 40px;
			float: left;
		}

		nav ul li.menu a.toggle:link,
		nav ul li.menu a.toggle:visited,
		nav ul li.menu a.toggle:focus,
		nav ul li.menu a.toggle:hover{
			height: 40px;
			width: calc(100% - 43px);
			float: right;
			/*width:100%;*/
			background:
				url(../i/menu-open.svg) no-repeat 97% center,#ff504b;
			background-size:25px 25px;
			color: #ff504b;
			outline: none;
			text-indent: -999em;
			overflow: hidden;
			-webkit-transition: none;
			-moz-transition: none;
			-o-transition: none;
			transition: none;
		}
		nav ul li.menu a.toggle:active {
			/*background: transparent;*/
			outline: none;
		}
		/* When Menu is expanded */
		nav ul li.menu a.toggle.active:link,
		nav ul li.menu a.toggle.active:visited,
		nav ul li.menu a.toggle.active:hover,
		nav ul li.menu a.toggle.active:active{
			background:
				url(../i/menu-close.svg) no-repeat 97% center,#ff504b;
				background-size:25px 25px;
			}
		nav ul li, nav ul li ul.nav-collapse li a{ width: 100%;}

		/* When Menu is expanded */
		nav ul li ul.nav-collapse li a,nav ul li ul.nav-collapse li a:hover{
			height: 40px;
			padding: 8px;
			font-size: 1.25em;
			background: #ff504b;
			color: #003b23;
		}

		header .container{overflow: hidden;}
		header{padding-top:46px;}
		h1.deep{letter-spacing: .065em;white-space: nowrap;
		text-shadow:
		0px 0px 0 #ff504b,
		 -1px 1px 0 #ff504b,
		  -2px 2px 0 #ff504b,
		   -3px 3px 0 #ff504b,
		    -4px 4px 0 #ff504b,
		     -5px 5px 0 #ff504b,
		      -6px 6px 0 #ff504b,
		       -7px 7px 0 #ff504b,
		        -8px 8px 0 #ff504b,
		         -9px 9px 0 #ff504b,
		          -10px 10px 0 #ff504b,
		           -11px 11px 0 #ff504b,
		            -12px 12px 0 #ff504b,
		             -13px 13px 0 #ff504b,
		              -14px 14px 0 #ff504b,
		               -15px 15px 0 #ff504b,

		 -15px 15px 0 #c3c3b5,
		  -14px 16px 0 #c3c3b5,
		   -13px 17px 0 #c3c3b5,
			-12px 18px 0 #c3c3b5,
			 -11px 19px 0 #c3c3b5,
			  -10px 20px 0 #c3c3b5,
			   -9px 21px 0 #c3c3b5,
			    -8px 22px 0 #c3c3b5,
			     -7px 23px 0 #c3c3b5,
			      -6px 24px 0 #c3c3b5,
			      -5px 25px 0 #c3c3b5,
			       -4px 26px 0 #c3c3b5,
			        -3px 27px 0 #c3c3b5,
			         -2px 28px 0 #c3c3b5,
			          -1px 29px 0 #c3c3b5,
			           0px 30px 0 #c3c3b5,
			            1px 31px 0 #c3c3b5,
			             2px 32px 0 #c3c3b5,
			              3px 33px 0 #c3c3b5,
			               4px 34px 0 #c3c3b5,
			                5px 35px 0 #c3c3b5,
			                 6px 36px 0 #c3c3b5,
			                  7px 37px 0 #c3c3b5,
			                   8px 38px 0 #c3c3b5,
			                    9px 39px 0 #c3c3b5,
			                     10px 40px 0 #c3c3b5,
			                      11px 41px 0 #c3c3b5,
			                       12px 42px 0 #c3c3b5,
			                        13px 43px 0 #c3c3b5,
			                         14px 44px 0 #c3c3b5,
			                          15px 45px 0 #c3c3b5;}
		article#tickets div.container h1.deep{
			text-shadow:
			0px 0px 0 #ff504b,
			-1px 1px 0 #ff504b,
			-2px 2px 0 #ff504b,
			-3px 3px 0 #ff504b,
			-4px 4px 0 #ff504b,
			-5px 5px 0 #ff504b,
			-6px 6px 0 #ff504b,
			-7px 7px 0 #ff504b,
			-8px 8px 0 #ff504b,
			-9px 9px 0 #ff504b,
			-10px 10px 0 #ff504b,
			-11px 11px 0 #ff504b,
			-12px 12px 0 #ff504b,
			-13px 13px 0 #ff504b,
			-14px 14px 0 #ff504b,
			-15px 15px 0 #ff504b,

			-15px 15px 0 #16261f,
			-14px 16px 0 #16261f,
			-13px 17px 0 #16261f,
			-12px 18px 0 #16261f,
			-11px 19px 0 #16261f,
			-10px 20px 0 #16261f,
			-9px 21px 0 #16261f,
			-8px 22px 0 #16261f,
			-7px 23px 0 #16261f,
			-6px 24px 0 #16261f,
			-5px 25px 0 #16261f,
			-4px 26px 0 #16261f,
			-3px 27px 0 #16261f,
			-2px 28px 0 #16261f,
			-1px 29px 0 #16261f,
			0px 30px 0 #16261f,
			1px 31px 0 #16261f,
			2px 32px 0 #16261f,
			3px 33px 0 #16261f;
		}
}

/* Less than 768 x 1024 */

@media screen and (max-width: 767px){
	.lb-overlay:target ~ div#wrapper{height: 0px;overflow:hidden;position: absolute;top:0;}
	/* Lightbox */

	.lb-overlay{position: fixed;}
	.lb-overlay:target {
		padding-top: 0;
		position: relative;
		overflow: scroll;
		top:0;
		height: auto;
	}
	.lb-overlay:target > div.detail-container{margin: 40px auto;}

	.lb-overlay > div.detail-container div.detail-content{
			padding: 0 0 120px 0;
		}
			.lb-overlay > div.detail-container div.detail-content div.detail-column{
				width: 100%;
				float: none;
			}

			.lb-overlay > div.detail-container div.detail-content div.detail-column a.learn-more{
				height: 40px;
				font-size: .875em;
				padding: 10px 16px;
				width: 150px;
			}


			.lb-overlay > div.detail-container div.detail-content a.buy_tickets{
			    position: absolute;
			    bottom: 0px;
			    left: 50%;
			    margin-left:-100px;
			}


	div.container{width:100%;overflow: hidden;}

	/* Header */
	header{
		height: 568px;
		padding-top:0;
		background-position: center 230px;
	}

	header p.line2{
		width: 580px;
		padding: 0 60px;
		font-size: 1.25em;
		font-weight: 500;
		background-size: 100px 6px;
	}

	h1.deep{
		margin-left: .03em; /* Center text */
		font-size: 220px;
		line-height: .8em;
		text-shadow: 0px 0px 0 #ff504b,-1px 1px 0 #ff504b,-2px 2px 0 #ff504b,-3px 3px 0 #ff504b,-4px 4px 0 #ff504b,-5px 5px 0 #ff504b,-6px 6px 0 #ff504b,-7px 7px 0 #ff504b,-8px 8px 0 #ff504b,-9px 9px 0 #ff504b,-10px 10px 0 #ff504b,-11px 11px 0 #ff504b,-12px 12px 0 #ff504b,-13px 13px 0 #ff504b,-14px 14px 0 #ff504b,-15px 15px 0 #ff504b,

			-15px 15px 0 #c3c3b5,-14px 16px 0 #c3c3b5,-13px 17px 0 #c3c3b5,-12px 18px 0 #c3c3b5, -11px 19px 0 #c3c3b5,-10px 20px 0 #c3c3b5,-9px 21px 0 #c3c3b5,-8px 22px 0 #c3c3b5,-7px 23px 0 #c3c3b5,-6px 24px 0 #c3c3b5,-5px 25px 0 #c3c3b5,-4px 26px 0 #c3c3b5,-3px 27px 0 #c3c3b5,-2px 28px 0 #c3c3b5,-1px 29px 0 #c3c3b5,0px 30px 0 #c3c3b5,1px 31px 0 #c3c3b5,2px 32px 0 #c3c3b5,3px 33px 0 #c3c3b5,4px 34px 0 #c3c3b5,5px 35px 0 #c3c3b5;
	}

	/* Frontiers */

	article#frontiers{
		background-attachment:scroll;
		background-size: 960px 960px;
	}



	/* Festival Trailers */

	div.lb-overlay.trailer-previews:target {
		width: auto;
		height: 100%;
		position: fixed;
	}


	article#festival_trailers{
		height: 500px;
	}

	article#festival_trailers div.trailer{
		width: 100%;
		height: 250px;
		float: none;
	}

	article#festival_trailers div.festival_trailers{
		margin: -34px 0 0 -110px;
		position: absolute;
		left: 50%;
	}

		article#festival_trailers div.festival_trailers svg{fill:#003b23;}
		article#festival_trailers div.festival_trailers p{
			height: 32px;
			width: 220px;
			padding: 8px;
			margin-top: -4px;
			line-height: 1em;
			font-size: 1em;
			text-align: center;
			background: #ff504b;
			color: #003b23;
		}

	div.lb-overlay.trailer-previews .detail-container .trailer-info p:first-child{
		display: none;
	}
	.trailer-previews a.lb-close{
		height: 60px;
		width: 60px;
		background: url(../i/lb-close-hover.svg) no-repeat 11px 10px,
			#e3e2da;
		background-size: 40px 40px;
	}

	.lb-overlay.trailer-previews a.lb-close:hover{
		height: 60px;
		width: 60px;
		background: url(../i/lb-close-hover-trailers.svg) no-repeat 11px 10px,
			#ff504b;
		background-size: 40px 40px;
		color: #e3e2da;
	}


	/* Festival Info */
	footer{
		background:
			url(../i/festival_info-bg.svg) fixed,
			#e3e2da;
	}
	footer#festival_info div.container{
		height: 100%;
		padding-top: 120px;
	}

	footer#festival_info div.container > ul,
	footer#festival_info div.container > div{
		width: 100%;
		margin-top: 0;
		float: none;
	}

		footer#festival_info div.container ul li{
			padding: 10px 30px;
		}

	footer#festival_info div.container ul li a{
			font-size: 1.25em;
		}

		footer#festival_info div.container > div{
			margin-top: 45px;
		}
		footer#festival_info div.container > div h2{
			font-size: 60px;
		}
		footer#festival_info div.container > div h2:link{
			color: #003b23;
		}

	footer#festival_info div#go-to-top{
		padding-top: 70px;
		font-size: 1.125em;
	}

}

/* Less than 640 */

@media screen and (max-width: 639px){

	.desktop{display: none;}
	.mobile{display: block;}


	h2{	font-size: 3.5em;}
	p{	font-size: .75em;}

	article.image{height: 400px;}

	article.image div.container{height: 437px;}

	div.image-content{height: 340px;}

	/* Article divs*/
	div.title{
		height: 100px;
	}
	div.title h2{height:60px;padding:3px 6px;}
	div.title img{height:16px;width:100px;}

	div.title > a{
		height: 24px;
		width: 100px;
		padding:4px;
		margin-top:-4px;
	}
	div.title > a p{font-size: 1em;}

	div.container{padding: 0;}

	div.image-container{
		width: 90%;
		margin: 0 auto;
	}

	/* Breaks */
	article#break1 div.center_line{height: 132px;}
	article#break2 div.center_line{height: 130px;}
	article#break3 div.center_line{height: 130px;}
	article#frontiers div.center_line{height: 168px;}


	/* Lightbox */
	.lb-overlay:target > div.detail-container{margin:0;}
	.lb-overlay > div.detail-container{
		width: 100%;
		height: auto;
		position: relative;
	}

	.lb-overlay a.lb-close{
		height: 60px;
		width: 60px;
		background-size:40px 40px;
		background-position: 12px 10px;
	}
	.lb-overlay a.lb-close:hover{
		background-size:40px 40px;
		background-position: 12px 10px;
	}

	.lb-title{
			height: 60px;
			padding: 0 20px;
		}
		.lb-title > h2{padding-right:5px;}
		.lb-title > p{font-size:.6em;padding: 14px 0;font-weight: bold;}
		#dogdays-info .lb-title > p{padding: 10px 0;}



	/* Header */
	header{
		height: 400px;
		background-position: center center;
	}

	header p.line1{
		margin: 65px auto 20px;
		font-size: .875em;
	}

	header p.line2{
		width: 440px;
		font-size: 1.0625em;
		font-weight: 500;
		line-height: 1em;
		margin: 40px auto 30px;
		background-size: 65px 3px;
	}

	h1.deep{font-size: 165px;}

	header div.container div.scroll_down a p{
		margin-top: 10px;}
	header div.container div.scroll_down a img{
		margin: 0 5px; width:24px;height: 54px;}
	header div.container div.scroll_down:hover img{
		margin: 6px 5px 7px;}

	header div.container div.center_line{
		height: 14px;
		background-position:center -708px;
	}

	/* Tickets */
	article#tickets{height: 568px;}
	article#tickets div.container{height: 550px;}

	article#tickets div.container p.line1{
		width:160px;padding:4px;margin:35px auto 55px;}

	article#tickets div.container a#go_button{
		margin: 70px auto 30px;
	}


	/* Festival Trailers */

		div#trailer-1-preview.lb-overlay:target,
		div#trailer-2-preview.lb-overlay:target{height: 100%;top: 0;}

		div.lb-overlay.trailer-previews div.detail-container{
			height: 100%;
			width: 100%;
			max-height: 100%;
			max-width: 100%;
			margin: 0;
		}
		div.lb-overlay.trailer-previews div.detail-container div.trailer-info p{
			font-size: .75em;
		}

}

/* Less than 578px */
@media screen and (max-width: 567px){
	/* Breaks */
		article#break1 div.center_line{height: 118px;}
		article#break2 div.center_line{height: 118px;}
		article#break3 div.center_line{height: 118px;}
		article#frontiers div.center_line{height: 148px;}

}


/* Less than 480px */
@media screen and (max-width: 479px){
	h2{	font-size: 2.5em;}

	.responsive-br{display: inline-block;}

	article.image{height: 480px;}

	article.image div.container{height: 514px;}

	div.image-content{height: 440px;}

	div.top-border,div.bottom-border{
		height:37px;
		background-size:auto 37px;}


	/* Lightbox */

		.lb-overlay:target{
			padding-top: 40px;
		}
		.lb-title{
			height: 44px;
			padding: 0 10px;
		}
		.lb-title > h2{padding-right:3px;}
		.lb-title > p{margin:5px 10px;line-height: 1.125em;clear: both;}

		div.detail-container div.detail-content{
			margin-top:50px;
		}



	.lb-overlay:target a.lb-close,
	.trailer-previews:target a.lb-close{
		width: 100%;
		height: 40px;
		text-indent: 0px;
		padding: 10px;
		font-size: 1em;
		position: fixed;
		background-position: 97% center;
		background-size:25px 25px;
	}
	.lb-overlay a.lb-close:hover,
	.lb-overlay.trailer-previews:target a.lb-close:hover{
		width: 100%;
		height: 40px;
		text-indent: 0px;
		color: #ff504b;
		background-position: 97% center;
		background-size:25px 25px;
	}
	.lb-overlay.trailer-previews:target a.lb-close:hover{color:#e3e2da;}
	.lb-overlay:target div {
	}
	.lb-overlay a.lb-close{
		-webkit-transition: none;
		transition: none;
		background:
			url(../i/lb-close-hover.svg) no-repeat 15px 12px,
			#003b23;
		color: #ff504b;
	}
	div.lb-overlay.trailer-previews div.detail-container .trailer-info{padding:8px 10px;}

	div.lb-overlay.trailer-previews div.detail-container .trailer-info p+p+p{
		position: absolute;
		bottom: 2px;

	}
	/* Header */

	header{height: 568px;}
	header p.line1{
		margin: 50px auto 5px;
	}

	header p.line2{
		width: 92%;
		margin: 30px auto 18px;
		background-size: 65px 3px;
	}


	h1.deep{
		font-size: 210px;
		margin-left: .075em; /* Center text */
		letter-spacing: .1em;
	}
	span#tracking{display:block;letter-spacing: .15em;}

	header div.scroll_down{width: 310px;margin: 0 auto;padding-left:5px;}


	/* Breaks */
		article#break1 div.center_line{height: 118px; width: 15px;}
		article#break2 div.center_line{height: 116px; width: 15px;}
		article#break3 div.center_line{height: 116px; width: 15px;}
		article#frontiers div.center_line{height: 108px; width: 16px;}

	/* Article divs*/
	div.title{
		height: 100%;
		width: 100%;
	}
	div.title h2{height:46px;padding:3px 6px;float:left;}
	div.title img{display:none;float: left;}
	br.clear{float: left;}

	div.title > a{
		height: 30px;
		width:90%;
		padding: 6px;
		display: block;
		float: left;

		position: absolute;
		bottom:4%;
		left:0;
		right:0;
		margin: auto;

	}
	article#dogdays div.title > img + br + a{
		width: 45%;
		left:5%;right:inherit;
	}
	article#dogdays div.title > img + br + a#two{
		right:5%;left:inherit;
		border-left:1px solid #003b23;
	}
	div.title > a p{font-size: 1.125em;}

	.mobile.image_sub{
		display: block;
		height:100%;width:100%;
		top:0;
		background: none;
	}
	.mobile.image_sub:hover{
		background: none;
	}

	/* Tickets */
	article#tickets div.container h1.deep{
		font-size: 100px;
		margin-left: .175em;
		letter-spacing: .075em;
		text-shadow: 0px 0px 0 #ff504b,-1px 1px 0 #ff504b,-2px 2px 0 #ff504b,-3px 3px 0 #ff504b,-4px 4px 0 #ff504b,-5px 5px 0 #ff504b,-6px 6px 0 #ff504b,-7px 7px 0 #ff504b,-8px 8px 0 #ff504b,-9px 9px 0 #ff504b,

		    -10px 10px 0 #16261f,-9px 11px 0 #16261f,-8px 12px 0 #16261f,-7px 13px 0 #16261f,-6px 14px 0 #16261f,-5px 15px 0 #16261f,-4px 16px 0 #16261f,-3px 17px 0 #16261f,-2px 18px 0 #16261f,-1px 19px 0 #16261f,0px 20px 0 #16261f,1px 21px 0 #16261f,2px 22px 0 #16261f,3px 23px 0 #16261f;
	}

	article#tickets div.container p.line2{
		width:240px;margin:20px auto;}

	/* Festival Trailers */

		div#trailer-1-preview.lb-overlay:target,
		div#trailer-2-preview.lb-overlay:target{height: 100%;padding-top:40px;top: 0;}

	/* Festival Info */
	footer#festival_info div.container{padding-top: 80px;}


	footer#festival_info div.container > div{
			margin-top: 60px;
		}

	footer#festival_info div#go-to-top{
		width: 28%;
		padding-top: 75px;
		font-size: .875em;
	}

	article,header,footer{
		background-attachment: scroll;
		background-position: center center}

	*{
		transition: none;
		-webkit-transition: none;
		-moz-transition: none;
		-o-transition: none;
	}



}

/* 320 x 480 */
@media screen and (max-width: 320px){

	h1.deep{
		margin-left: .03em; /* Center text */
		letter-spacing: .07em;
	}
	span#tracking{display:block;letter-spacing: .115em;}

	/* Breaks */
	div.copy-container{padding: 16px;}

	article#break1{background-size:auto 37px,auto auto;}
	article#break1 div.center_line{height: 96px;}
	article#break2 div.center_line{height: 120px;}
	article#break3 div.center_line{height: 110px;}
	article#frontiers div.center_line{height: 85px;}


}




/*! responsive-nav.js 1.0.32 by @viljamis */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  position: absolute;
  display: block;
  zoom: 1;
}

.nav-collapse.opened {
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}



