div.details{
	float: right;
	margin: 5px;
	position: relative;

	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
}
div.details > a{
	display: block;
}


div.details > a{
	width: 150px;
	height: 32px;
	position: relative;
	padding: 10px;
	background: #003b23;
}


div.details > a p{
	position: absolute;
	width: 150px;
	height: 32px;
	top: 10px;
	left: 10px;
	text-align: center;
	line-height: 32px;
	color: #ff504b;
	font-size: 24px;
}
div.details > a:hover p{
	background:#ff504b;
	color: #003b23;
}




.lb-overlay{
	width: 0px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 99;
	text-align: center;
	background: rgba(0,0,0,.8);
}
.lb-overlay > div{
	position: relative;
	border: 6px solid #ff504b;
	background: #e3e2da;
	color: #ff504b;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/


	width: 92%;
	height: 92%;
	margin: 10px auto 0px auto;
}

.lb-overlay a.lb-close{
	background: #ff504b;
	z-index: 1001;
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;

	font-size: 15px;
	line-height: 26px;
	text-align: center;
	width: 50px;
	height: 23px;
	overflow: hidden;
	margin-left: -25px;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/

	-webkit-transition: opacity 0.3s linear 1.2s;
	-moz-transition: opacity 0.3s linear 1.2s;
	-o-transition: opacity 0.3s linear 1.2s;
	-ms-transition: opacity 0.3s linear 1.2s;
	transition: opacity 0.3s linear 1.2s;
}


.lb-overlay:target {
	width: auto;
	height: auto;
	bottom: 0px;
	right: 0px;
	padding: 80px 100px 120px 100px;
}
.lb-overlay:target div {
	-webkit-animation: translateRight 1.2s ease-in-out;
	-moz-animation: translateRight 1.2s ease-in-out;
	-o-animation: translateRight 1.2s ease-in-out;
	-ms-animation: translateRight 1.2s ease-in-out;
	animation: translateRight 1.2s ease-in-out;
}
.lb-overlay:target a.lb-close,
.lb-overlay:target > div{
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}


@-webkit-keyframes translateRight {
  0% { -webkit-transform: translateX(-150%); opacity: 0; }
  100% { -webkit-transform: translateX(0px); opacity: 1; }
}
@-moz-keyframes translateRight {
  0% { -moz-transform: translateX(-150%); opacity: 0; }
  100% { -moz-transform: translateX(0px); opacity: 1; }
}
@-o-keyframes translateRight {
  0% { -o-transform: translateX(-150%); opacity: 0; }
  100% { -o-transform: translateX(0px); opacity: 1; }
}
@-ms-keyframes translateRight {
  0% { -ms-transform: translateX(-150%); opacity: 0; }
  100% { -ms-transform: translateX(0px); opacity: 1; }
}
@keyframes translateRight {
  0% { transform: translateX(-150%); opacity: 0; }
  100% { transform: translateX(0px); opacity: 1; }
}
/* 
	100% Height for Opera as the max-height seems to be ignored, not optimal for large screens 
	http://bricss.net/post/11230266445/css-hack-to-target-opera 
*/
